<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:action="@{/newCustomer}" th:object="${customer}" method="post">
  <table>
    <tr>
      <td>First Name:</td>
      <td><input type="text" th:field="*{firstName}" /></td>
      <td th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</td>
    </tr>
    <tr>
      <td>Last Name:</td>
      <td><input type="text" th:field="*{lastName}" /></td>
      <td th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</td>
    </tr>
    <tr>
      <td>Post Code:</td>
      <td><input type="text" value="" th:field="*{postcode}" /></td>
      <div th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">Post Code Error</div>
    </tr>
    <tr>
      <td><button type="submit">Submit</button></td>
      <td><a href="/customers">Cancel</a></td>
    </tr>
  </table>
</form>
</body>
</html>